$primary_color:#10c9c3;
$hover_background:#252525;
$title_color:#191919;
$subtitle_color:#787878;
$footer_background:#141414;
$white : #fff;

.pos-relative{
    position: relative;
}

.pos-absolute{
    position: absolute;
}

.dis_no{
  display: none;
}
