<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>piroll template</title>
    <link rel="stylesheet" href="../assets/css/main.min.css">
    <link rel="stylesheet" href="../assets/css/font-awesome.css">
    <link rel="stylesheet" href="../assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../assets/css/owl.theme.default.min.css">
</head>
<body>
    <!-- piroll header -->
     <header>
         <div class="piroll-head">
             <nav>
                 <a href="" class="piroll-logo">
                     <img src="../assets/image/logo.png" alt="">
                 </a>

                 <ul class="piroll-menu">
                     <li><a href="" class="active">home</a></li>
                     <li><a href="">about</a></li>
                     <li><a href="">work</a></li>
                     <li><a href="">process</a></li>
                     <li><a href="">services</a></li>
                     <li><a href="">testimonials</a></li>
                     <li><a href="">contact</a></li>
                 </ul>

                 <a href="" class="bars"><i class="fa fa-bars"></i></a>
             </nav>

             <div class="mobile-nav">
                <a href="" class="active">home</a>
                <a href="">about</a>
                <a href="">work</a>
                <a href="">process</a>
                <a href="">services</a>
                <a href="">testimonials</a>
                <a href="">contact</a>
                <a href="" class="close">x</a>
             </div>

             <div class="piroll-row">
                 <div class="piroll-row_img">
                     <img src="../assets/image/work-img.png" alt="">
                 </div>
                 <div class="prioll-row_web">
                     <h1>We Design and Develop</h1>
                     <p>
                        We are a new design studio based in USA.  <br>
                        We have over  20 years.We have over  20 years. <br>
                        We have over  20 years.We have over  20 years.
                     </p>
                     <a href="" class="piroll-btn">contact us</a>
                 </div>
             </div>
         </div>
     </header>
    <!-- end header -->

    <!-- main -->
    <main>
        <section class="aboutus">
            <h3 class="about-heading">About Us</h3>
            <p>
                Divide have don't man wherein air fourth. Own itself make have night won't make. <br>
                A you under Seed appear which good give. Own give air without fowl moveth dry first <br>
                heaven fruit, dominion she'd won't very all.
            </p>
            <figure class="about-sign">
                <img src="../assets/image/signture.png" alt="">
            </figure>
        </section>

        <section class="skills">
            <div class="professional-skill">
                <h3 class="professional-skill-heading">Professional Skills</h3>
                <div class="progress" role="progressbar" tabindex="0" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                    <span class="progress-meter">
                        <p class="progress-meter-text"> UI/UX DESIGN 75%</p>
                        <div class="pro-w">
                            <div class="pro-bar1"></div>
                        </div>
                    </span>
                </div>
                <div class="progress" role="progressbar" tabindex="0" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                    <span class="progress-meter">
                        <p class="progress-meter-text"> WEB DEVELOPMENT 90%</p>
                        <div class="pro-w">
                            <div class="pro-bar2"></div>
                        </div>
                    </span>
                </div>
                <div class="progress" role="progressbar" tabindex="0" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                    <span class="progress-meter">
                        <p class="progress-meter-text"> MARKATING 65%</p>
                        <div class="pro-w">
                            <div class="pro-bar3"></div>
                        </div>
                    </span>
                </div>
            </div>
            <div class="skill-img">
                <img src="../assets/image/skill-img.png" alt="">
            </div>
        </section>

        <section class="numbers">
            <div class="project">
                <i class="fa fa-briefcase fa-2x icon"></i>
                <div class="right-number">
                    <p>548</p>
                    <p>PROJECTS COMPLETED</p>
                </div>
            </div>
            <div class="working-client">
                <i class="fa fa-clock-o fa-2x icon"></i>
                <div class="right-number">
                    <p>1465</p>
                    <p>WORKING HOURS</p>
                </div>
            </div>
            <div class="pos-feedback">
                <i class="fa fa-star-o fa-2x icon"></i>
                <div class="right-number">
                    <p>612</p>
                    <p>POSITIVE FEDDBACKS</p>
                </div>
            </div>
            <div class="happy-clients">
                <i class="fa fa-heart-o fa-2x icon"></i>
                <div class="right-number">
                    <p>735</p>
                    <p>HAPPY CLIENTS</p>
                </div>
            </div>
        </section>

        <section class="work">
            <div class="work-img">
                <img src="../assets/image/work-img.png" alt="">
                <div class="hover">
                    <!-- <i class="fa fa-eye "></i> -->
                </div>


            </div>
            <div class="work-img">
                <img src="../assets/image/work-img2.png" alt="">

                <div class="hover">
                    <!-- <i class="fa fa-eye "></i> -->
                </div>

            </div>
            <div class="work-img">
                <img src="../assets/image/work-img.png" alt="">

                <div class="hover">
                    <!-- <i class="fa fa-eye "></i> -->
                </div>

            </div>
            <div class="work-img">
                <img src="../assets/image/work-img2.png" alt="">

                <div class="hover">
                    <!-- <i class="fa fa-eye "></i> -->
                </div>

            </div>

            <div class="work-img">
                <img src="../assets/image/work-img2.png" alt="">
                <div class="hover">
                    <!-- <i class="fa fa-eye "></i> -->
                </div>


            </div>
            <div class="work-img">
                <img src="../assets/image/work-img.png" alt="">

                <div class="hover">
                    <!-- <i class="fa fa-eye "></i> -->
                </div>

            </div>
            <div class="work-img">
                <img src="../assets/image/work-img2.png" alt="">

                <div class="hover">
                    <!-- <i class="fa fa-eye "></i> -->
                </div>

            </div>
            <div class="work-img">
                <img src="../assets/image/work-img.png" alt="">

                <div class="hover">
                    <!-- <i class="fa fa-eye "></i> -->
                </div>

            </div>


        </section>
        <div class="load">
            <a href="">load more work</a>
        </div>
        <!-- end work -->

        <section class="work-process ">
            <h3 class="process-heading">Our Work Process</h3>
            <p>
                Was years it seasons was there form he in in them together over that, <br>
third sixth gathered female creeping bearing behold years.
            </p>

            <div class="video pos-relative">
                <img src="../assets/image/video.png" alt="">
                <div class="play">
                    <a href=""><i class="fa fa-play"></i></a>

                </div>
            </div>
        </section>

        <section class="services">
            <div class="services-item">
                <i class="fa fa-diamond"></i>
                <h3 class="services-heading">UI/UX DESIGN</h3>
                <p>
                    Be set fourth land god darkness <br>
make it wherein own
                </p>
            </div>
            <div class="services-item">
                <i class="fa fa-umbrella"></i>
                <h3 class="services-heading">WEB DEVELOPMENT</h3>
                <p>
                    A she'd them bring void moving <br>
third she'd kind fill
                </p>
            </div>
            <div class="services-item">
                <i class="fa fa-mobile-phone"></i>
                <h3 class="services-heading">APP/MOBILE</h3>
                <p>
                    Dominion man second spirit he, <br>
earth they're creeping
                </p>
            </div>
            <div class="services-item">
                <i class="fa fa-gamepad"></i>
                <h3 class="services-heading">GAME DESIGN</h3>
                <p>
                    Morning his saying moveth it <br>
multiply appear life be
                </p>
            </div>
            <div class="services-item">
                <i class="fa fa-plane"></i>
                <h3 class="services-heading">SEO/MARKING</h3>
                <p>
                    Give won't after land fill creeping <br>
meat you, may
                </p>
            </div>
            <div class="services-item">
                <i class="fa fa-star"></i>
                <h3 class="services-heading">PHOTOGRAPHY</h3>
                <p>
                    Creepeth one seas cattle grass <br>
give moving saw give
                </p>
            </div>
            <div class="services-item">
                <i class="fa fa-magic"></i>
                <h3 class="services-heading">GRAPHIC DESIGN</h3>
                <p>
                    Open, great whales air rule for, <br>
fourth life whales
                </p>
            </div>
            <div class="services-item">
                <i class="fa fa-paint-brush"></i>
                <h3 class="services-heading">ILLUSTRATIONS</h3>
                <p>
                    Whales likeness hath, man kind <br>
for them air two won't
                </p>
            </div>
        </section>

        <section class="testimonials">
            <div class="testimonials_item">
              <p>
                <i class="fa fa-quote-left"></i>  Outstanding job and exceeded all expectations. It was a pleasure <br>
                to work with them on a sizable first project and am looking <br>
                forward to start the next one asap.<i class="fa fa-quote-right"></i>
              </p>
              <p>sara john</p>
            </div>
            <div class="testimonials_item">
              <p>
                <i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur. <br>
                to work with them on a sizable first project and am looking <br>
                forward to start the next one asap.<i class="fa fa-quote-right"></i>
              </p>
              <p>john john</p>
            </div>
            <div class="testimonials_item">
              <p>
                            <i class="fa fa-quote-left"></i>  jthid Lorem ipsum dolor sit amet.<br>
                to work with them on a sizable first project and am looking <br>
                forward to start the next one asap.<i class="fa fa-quote-right"></i>
              </p>
              <p>jef john</p>
            </div>
        </section>


        <section class="clients">
          <div class="client-brand"><img src="../assets/image/client-1.png" alt=""></div>
          <div class="client-brand"><img src="../assets/image/client-2.png" alt=""></div>
          <div class="client-brand"><img src="../assets/image/client-3.png" alt=""></div>
          <div class="client-brand"><img src="../assets/image/client-4.png" alt=""></div>
          <div class="client-brand"><img src="../assets/image/client-1.png" alt=""></div>
        </section>


        <section class="contact">
          <h3 class="contact-heading">Need a Projects?</h3>
          <p>
            Let us know what you're looking for in an agency. We'll take a look and see <br>
            if this could be the start of something beautiful.
          </p>

          <div class="container">
            <form class="contact-form">
                 <div class="row">
                   <div class="form-input">
                     <input type="text" placeholder="Your Name">
                   </div>
                   <div class="form-input">
                     <input type="email" placeholder="Your Email">
                   </div>
                 </div>
                 <div class="form-input">
                   <input type="text" placeholder="Your Title">
                 </div>
                 <textarea name="name" rows="8" cols="80" placeholder="Your Comment"></textarea>
                 <div class="form-btn">
                   <a href="#" class="btn">SEND MESSAGE</a>
                 </div>

                 <!-- <button type="button"  class="btn">SEND MESSAGE</button> -->

            </form>

          </div>
        </section>

    </main>
    <!-- end main -->

    <footer>
      <div class="left-footer">
        <div class="left-footer-copyright">
          <h3>Piroll Design,Inc.</h3>
          <p>@2021 piroll All rights reserved.</p>
          <a href="#">Designed by MNCODE</a>
        </div>
      </div>
      <div class="right-footer">
        <div class="info">
          <p>info@gmail.com</p>
          <p>+982256566</p>
        </div>
        <div class="nav">
          <div class="left-nav">
            <a href="">Projects</a>
            <a href="">About</a>
            <a href="">Services</a>
            <a href="">Carrer</a>
          </div>
          <div class="right-nav">
            <a href="">News</a>
            <a href="">Events</a>
            <a href="">Contact</a>
            <a href="">Legais</a>
          </div>
        </div>
        <div class="soical">
          <a href="">Facebook</a>
          <a href="">Twitter</a>
          <a href="">Instagram</a>
          <a href="">Driabble</a>
        </div>
      </div>


    </footer>


    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="../assets/js/app.js"></script>
    <script src="../assets/js/owl.carousel.min.js" charset="utf-8"></script>
</body>
</html>
